/*, MYPOSTS =============================================================*/

.profile__userPost {
	color: gray;
	background: lightyellow;
	padding:5px;
}

.profile__userPost_new {
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.profile__userPost_new button {
	margin-top: 15px;
}
.profile__userPost_new textarea {
	width: 300px;
	height: 100px;
}