.dialogs {
	padding: 0 15px;
}
.dialogs h3 {
	text-align: center;
	color: white;
	background: #555;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;
}

.dialogs__grid {
	display: grid;
	grid-template-columns: 30% 70%;
}

.dialogs__names {
	padding: 0 5px;
	margin: 0 5px 0 0;
	border: 1px solid gray;
	background:white;
	border-radius: 10px;
}

.dialogs__messages {
	padding: 15px;
	border: 1px solid gray;
	margin: 0 0 0 5px;
	background:white;
	border-radius: 10px;
}

.dialogs__newMsg {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}

.dialogs__newMsg textarea {
	margin-bottom: 15px;
	height: 80px;
}

.dialogs__newMsg button {
	width: 100px;
	height: 40px;
	align-self: left;
}