/*, TOTAL ============================================================*/
body {
	padding: 10px 10px;
}

.app-wrapper {
	display: grid;
	grid-gap: 8px;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	grid-template: repeat(3,auto) / 200px 1fr;
	grid-template-areas:
	'header header'
	'side-bar main'
	'footer footer';
	box-sizing: border-box;
}

.app-wrapper__content {
	background: none;
	border:1px solid gray;
}

a {
	text-decoration: none;
}

/*, HEADER ===========================================================*/



/*, NAVBAR ============================================================*/


/*, PROFILE =============================================================*/



/*, FOOTER ===============================================================*/



